<nav class="navbar navbar-light bg-light" style="padding:1rem;">
    <div class="container">
     <form class="form-inline" >
      <div class="row">   
          <div class="col-sm-6" >
            <input class="form-control mr-sm-2" 
            [(ngModel)]="DeviceIdFilter"
            (keyup)="FilterDevice()"
            placeholder="Filter By"
            type="search"  aria-label="Search"  
            style="box-shadow: 2px 2px 2px #222; width: 150px;"
            [ngModelOptions]="{standalone: true}"></div>
          <div class="col-sm-6"><button class="btn btn-outline-info my-2 my-sm-0" type="submit" style="box-shadow: 2px 2px 2px #222; text-shadow: 0.5px 0.5px #222; width: 125px;"> Search </button></div>
      </div>
      </form>
    </div>
  </nav>
  